version: "3.9"

services:
  redis:
    image: redis:7
    container_name: xevent-redis
    ports:
      - "6379:6379"

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  xevent-api:
    build:
      context: ..
      dockerfile: IaaC/Dockerfile
    container_name: xevent-api
    environment:
      ASPNETCORE_ENVIRONMENT: Development
    depends_on:
      - redis
      - kafka
    ports:
      - "5001:8080"
